/* Фоновое изображение */
body {
    background-color: #f8f8f8;
}

/* Задает стиль всем ссылкам */
a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: dimgrey;
}

/* Параметры класса контейнер */
.container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* Задает стиль меню и шапки */
.header {
    background-color: #e6e6ff;
    width: inherit;
    height: 65px;
    display: inline-flex;
}

.header a {
    display: block;
}

.header hr {
    margin-top: 20px;
    margin-bottom: 0px;
    height: 5px;
    border: none;
    background-color: lightblue;
}

.header ul {
    display: inline-flex;
    justify-content: space-between;
    width: 500px;
}

.menu li {
    display: inline-block;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
}

.menu li a {
    font-size: 20px;
    font-family: 'Comic Sans MS', cursive;
}

.menu li a:hover:before {
    content: url(goods/images/icon_main.jpg);
    padding-right: 5px;
}

.menu li a:hover:after {
    content: url(goods/images/icon_main.jpg);
    padding-left: 5px;
}

.main_pic {
    background: url(goods/images/main_1.png);
    display: inline-block;
    height: 46px;
    width: 250px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 9px;
    margin-bottom: 10px;
}

.main_pic:hover {
    background: url(goods/images/main_2.png);
}

.hr {
    margin-top: 0px;
}

/* Задает стиль всех подзаголовков на страницах товаров каталога */
.subt {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

/* Стиль для краткого описания товара */
.short_desription {
    color: #707070;
    font-size: 17px;
    font-style: italic;
    line-height: 16px;
    text-align: justify;
}

/* Стиль для полного описания товара */
.full_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* Особый стиль для характеристик товара */
.features {
    color: darkslateblue;
    font-family: sans-serif;
    font-size: 14px;
    list-style-image: url(goods/images/features.png);
}

/* Цвет обычного текста на странице Контакты и Регистрация */
.contacts_description,
.registration {
    color: blue;
}

/* Цвет текста для заголовков */
h1,
h2 {
    color: #000099;
}

/* Стили для полей и форм ввода на страницах Регистрация и Контакты */
fieldset {
    color: #000099;
    width: 400px;
    border-radius: 13px;
    border: 2px solid;
    text-align: center;
    background-color: #ffffe6;
}

.reg_form p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.contacts p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.reg {
    display: inline-flex;
}

.reg .reg_form {
    margin-right: 30px;
    margin-bottom: 20px;
}

.registration p {
    text-align: justify
}

input {
    color: #000099;
    border: 1px solid;
    border-color: gray;
    border-radius: 5px;
}

textarea {
    color: dimgray;
    font-family: cursive, italic;
    border: 1px solid;
    border-color: gray;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 379px;
}

input[type="email"] {
    color: firebrick;
    font-weight: bold;
    width: 379px;
    text-transform: none;
}

input[type="email"]:focus {
    background-color: #ffe6e6;
}

input[type="text"],
textarea {
    text-transform: capitalize;
}

input[type="submit"],
input[type="reset"] {
    width: 150px;
    background-color: #ffff99;
    font-weight: bold;
    color: chocolate;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    cursor: pointer;
    color: #0000cc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reg_form input[placeholder=" Имя"] {
    margin-top: 14px;
}

.reg_form input[type="checkbox"] {
    margin-bottom: 12px;
}

.map iframe {
    width: 100%;
    height: 374px;
}

/* Оформление приветственного текста на Главной станице */
.hi {
    color: #0088cc;
    font-size: 16px;
    text-align: center;
}

/* Оформление страницы каталога */
.catalogue {
    display: inline-flex;
    width: inherit;
    justify-content: space-around;
}

.catalogue div {
    background-color: white;
    border: 1.5px solid;
    border-radius: 30px;
    border-color: #668cff;
    width: 260px;
    height: 250px;
    text-align: center;
}

.catalogue div:hover {
    border: 1.5px solid;
    border-radius: 30px;
    border-color: #0040ff;
    width: 260px;
    height: 250px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.catalogue div a {
    display: block;
    width: inherit;
    height: inherit;
}

.catalogue div a img {
    height: 150px;
    margin-top: 30px;
    margin-bottom: 10px
}

/* Стиль отображения изображений-ссылок на страницах товаров каталога */
.main_image a img:hover,
.imgs a img:hover {
    outline: solid #ccccff 2px;
}

.main_image a img,
.imgs a img {
    display: inline;
    height: 210px;
    justify-content: center;
}

.main_image a {
    margin: 10px;
    margin-right: 35px;
}

/* Краткое описание справа от главной картинки */
.main_image {
    display: inline-flex;
}

.main_image span h3,
.main_image span p {
    width: 300px;
}

.main_image span h3 {
    text-align: center;
}

.main_image span button {
    background-color: lightcyan;
    border-color: dodgerblue;
    color: #00004d;
    border-radius: 5px;
}

.main_image span button:hover {
    cursor: pointer;
    color: #0000cc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

/* Оформление таблицы на странице товара каталога */
.table_features {
    color: #000066;
    width: 500px;
    height: 250px;
}

.table_features td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    background-color: #e6e6ff;
}

.table_features td:first-child {
    background-color: #ccccff;
}

.table_features tr:first-child td:first-child {
    border-top-left-radius: 15px;
}

.table_features tr:first-child td:last-child {
    border-top-right-radius: 15px;
}

.table_features tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.table_features tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

/* Делаем каждую букву параграфа и списка отличной от других */
.paragraph_catalogue::first-letter,
.short_desription::first-letter {
    color: firebrick;
    font-family: sans-serif;
    font-size: 30px;
}

#table_0 {
    background-color: #ccb3ff;
    height: 70px;
}

#table_1 {
    background-color: red;
}

#table_2 {
    background-color: yellow;
}

#table_3 {
    background-color: blue;
}

#table_4 {
    background-color: lightgreen;
}

/* Стиль оформления подвала */
.footer {
    display: block;
    height: 100px;
    width: auto;
    background-color: #f0f0f5;
}

.footer p {
    text-align: right;
    padding-right: 15px;
    padding-top: 7px;
}
